In [73]:
%%capture
%load_ext autoreload
%autoreload 2
from setup_nb_env import *

from epsampling.utils import load_csv
pd.set_option('display.float_format', lambda x: '%.2f' % x)
from epsampling.utils import drop_sers_with_nans
from epsampling.utils import date_str_to_int

DATA_DIR = '/work/users/k/4/k4thryn/Repos/EpSampling/data/'
DT = datetime.today().strftime('%Y%m%d-%H%M%S')

In [74]:
### LOAD CSV
timestamp = '20241002-004543'
fpath = os.path.join(DATA_DIR,'processed', f'processed_naive_deaths_{timestamp}.csv')
df_deaths = pd.read_csv(fpath)

### CLEAN
## Drop rows with nans.
df_deaths.dropna(inplace=True)
## Drop samples with negative inc deaths.
df_deaths = df_deaths[df_deaths.True_inc_deaths >= 0]
# display(df_deaths)

In [75]:
from epsampling.utils import drop_duplicate_cols

timestamp = '20241001-223952'
fpath = os.path.join(DATA_DIR,'processed',f'formatted_acs_results_{timestamp}.csv')
df_acs = pd.read_csv(fpath,index_col='Fips')
print(df_acs.shape)
## Remove duplicate columns.
df_acs = drop_duplicate_cols(df_acs)
# display(df_acs.head())

(3142, 190)

In [76]:
df = df_deaths.merge(df_acs, on='Fips')
df.reset_index(inplace=True, drop=True)
# display(df)

In [77]:
# df.columns[:20]

In [78]:
### LOAD CSV
timestamp = '20240928-145111'
fpath = os.path.join(DATA_DIR,'processed', f'formatted_state_fips_{timestamp}.csv')
df_fips = pd.read_csv(fpath)
# df_fips

In [79]:
# df_fips

In [80]:

fips_dict = {}
for r in df_fips.itertuples():
    fips_dict[r.Fips] = r.Postal
# fips_dict

In [81]:
df['State'] = df.apply(lambda x: fips_dict[x.State_fips], axis=1)
df

,Fips,State_fips,Pop,State_pop,Ratio,Date,Proj_inc_deaths,True_cum_deaths,Cum_deaths_tm1,True_inc_deaths,...,POP_AIANNH,POP_AIAN,EDU_HS,POP_A3564,POP_M,POP_16p_EMP_x7,POP_A25p,POP_NH,POP_x2,State
0,1001,1,58239,4997675,0.01,20200620,83.30,9.00,6.00,3.00,...,98,98,20751,22690,28206,25871,39614,56464,58239,AL
1,1001,1,58239,4997675,0.01,20200627,68.18,12.00,9.00,3.00,...,98,98,20751,22690,28206,25871,39614,56464,58239,AL
2,1001,1,58239,4997675,0.01,20200704,76.24,13.00,12.00,1.00,...,98,98,20751,22690,28206,25871,39614,56464,58239,AL
3,1001,1,58239,4997675,0.01,20200711,88.36,15.00,13.00,2.00,...,98,98,20751,22690,28206,25871,39614,56464,58239,AL
4,1001,1,58239,4997675,0.01,20200718,114.28,21.00,15.00,6.00,...,98,98,20751,22690,28206,25871,39614,56464,58239,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306758,56045,56,6891,576641,0.01,20220409,8.00,18.00,18.00,0.00,...,88,90,2980,2724,3684,3044,4892,6763,6891,WY
306759,56045,56,6891,576641,0.01,20220416,5.00,18.00,18.00,0.00,...,88,90,2980,2724,3684,3044,4892,6763,6891,WY
306760,56045,56,6891,576641,0.01,20220423,4.00,18.00,18.00,0.00,...,88,90,2980,2724,3684,3044,4892,6763,6891,WY
306761,56045,56,6891,576641,0.01,20220430,4.00,18.00,18.00,0.00,...,88,90,2980,2724,3684,3044,4892,6763,6891,WY
306762,56045,56,6891,576641,0.01,20220507,4.00,18.00,18.00,0.00,...,88,90,2980,2724,3684,3044,4892,6763,6891,WY

In [83]:
df.Date.unique()

array([20200620, 20200627, 20200704, 20200711, 20200718, 20200725,
       20200801, 20200808, 20200815, 20200822, 20200829, 20200905,
       20200912, 20200919, 20200926, 20201003, 20201010, 20201017,
       20201024, 20201031, 20201114, 20201121, 20201128, 20201205,
       20201219, 20201226, 20210102, 20210109, 20210116, 20210123,
       20210130, 20210206, 20210213, 20210220, 20210227, 20210306,
       20210313, 20210320, 20210327, 20210403, 20210410, 20210417,
       20210424, 20210501, 20210508, 20210515, 20210522, 20210529,
       20210605, 20210612, 20210619, 20210626, 20210703, 20210710,
       20210717, 20210724, 20210731, 20210807, 20210814, 20210821,
       20210828, 20210904, 20210911, 20210918, 20210925, 20211002,
       20211009, 20211016, 20211023, 20211030, 20211106, 20211113,
       20211120, 20211127, 20211204, 20211211, 20211218, 20211225,
       20220101, 20220108, 20220115, 20220122, 20220129, 20220205,
       20220212, 20220219, 20220226, 20220305, 20220312, 20220319,
       20220402, 20220409, 20220416, 20220423, 20220430, 20220507,
       20201107, 20201212, 20220326])

In [56]:
df.State_fips.nunique()

50

In [84]:

# EDU_DOCT doctoral degree population
# OCC_SALES sales occupations
# POP_F female pop
# HU_VAC vacant housing units

dff = df[['True_inc_deaths', 'Fips', 'State', 'Date',  
          'Proj_inc_deaths', 'Naive_inc_deaths', 'Cum_deaths_tm1',
          'Pop', 'Ratio','True_cum_deaths', 
          'EDU_DOCT', 'OCC_SALES', 'POP_F', 'HU_VAC'
        ]]


dff = dff.sort_values(['Fips','Date'])

dff = dff[dff.State.isin(['NC','VA'])]
dff = dff[dff.Fips.isin([37183, 51087])]
dff = dff[dff.Date.isin([ 20220108, 20220115, 20220122, 20220129, 20220205, 20220212])]

cdict = {1001: 'Autauga', 6047:'Merced',37183: 'Wake', 51087:'Richmond'}
dff['County'] = dff.apply(lambda x: cdict[x.Fips], axis=1)

In [85]:
dff.Date.unique()

array([20220108, 20220115, 20220122, 20220129, 20220205, 20220212])

In [86]:
# dff[dff.Date.isin([ 20210102, 20210109, 20210116, 20210123])]

In [87]:
# dffff = pd.concat([dfff[:3], dfff[19912:19915], dfff[192964:192967]])
# dffff

In [106]:
df = dff[['County','State','Date', 'True_inc_deaths','Proj_inc_deaths',
         'Naive_inc_deaths',
         'True_cum_deaths','Pop','Ratio',
        'EDU_DOCT', 'OCC_SALES', 'POP_F', 'HU_VAC']]


# df = df[['County','State','Date', 'True inc','State pred inc',
#          'Naive inc',
#          'True cum','Total pop','Pop ratio',
#         'Edu Doct', 'Occ Sales', 'Pop F', 'HU Vac']]



df = df.rename({'True_inc_deaths':'True county inc. deaths',  
                   'Proj_inc_deaths' :'Pred state inc. deaths',
                   'Naive_inc_deaths': 'Naive county inc. deaths',
                   'True_cum_deaths':'True county cum. deaths',
                   'Pop':'County pop.', 'Ratio':'Pop. ratio',
#                    'EDU_DOCT':'Edu Doct', 
#                    'OCC_SALES':'Occ Sales', 
#                    'POP_F':'Pop F', 
#                    'HU_VAC':'HU Vac'
#                    ,
#                    ,
#                    ,
                  }
                  , axis=1)

df

,County,State,Date,True county inc. deaths,Pred state inc. deaths,Naive county inc. deaths,True county cum. deaths,County pop.,Pop. ratio,EDU_DOCT,OCC_SALES,POP_F,HU_VAC
193041,Wake,NC,20220108,0.00,184.00,19.75,920.00,1112883,0.11,19892,117559,568699,32528
193042,Wake,NC,20220115,19.00,261.00,28.02,939.00,1112883,0.11,19892,117559,568699,32528
193043,Wake,NC,20220122,7.00,372.00,39.93,946.00,1112883,0.11,19892,117559,568699,32528
193044,Wake,NC,20220129,21.00,345.00,37.04,967.00,1112883,0.11,19892,117559,568699,32528
193045,Wake,NC,20220205,2.00,430.00,46.16,969.00,1112883,0.11,19892,117559,568699,32528
193046,Wake,NC,20220212,12.00,453.00,48.63,981.00,1112883,0.11,19892,117559,568699,32528
279519,Richmond,VA,20220108,1.00,329.00,12.72,750.00,331924,0.04,4928,38307,173628,7361
279520,Richmond,VA,20220115,4.00,169.00,6.54,754.00,331924,0.04,4928,38307,173628,7361
279521,Richmond,VA,20220122,0.00,238.00,9.20,754.00,331924,0.04,4928,38307,173628,7361
279522,Richmond,VA,20220129,9.00,156.00,6.03,763.00,331924,0.04,4928,38307,173628,7361
279523,Richmond,VA,20220205,21.00,257.00,9.94,784.00,331924,0.04,4928,38307,173628,7361
279524,Richmond,VA,20220212,40.00,436.00,16.86,824.00,331924,0.04,4928,38307,173628,7361

In [97]:
df

,County,State,Date,True county inc.,Pred state inc.,Naive county inc.,True county cum.,County pop,Pop ratio,EDU_DOCT,OCC_SALES,POP_F,HU_VAC
193041,Wake,NC,20220108,0.00,184.00,19.75,920.00,1112883,0.11,19892,117559,568699,32528
193042,Wake,NC,20220115,19.00,261.00,28.02,939.00,1112883,0.11,19892,117559,568699,32528
193043,Wake,NC,20220122,7.00,372.00,39.93,946.00,1112883,0.11,19892,117559,568699,32528
193044,Wake,NC,20220129,21.00,345.00,37.04,967.00,1112883,0.11,19892,117559,568699,32528
193045,Wake,NC,20220205,2.00,430.00,46.16,969.00,1112883,0.11,19892,117559,568699,32528
193046,Wake,NC,20220212,12.00,453.00,48.63,981.00,1112883,0.11,19892,117559,568699,32528
279519,Richmond,VA,20220108,1.00,329.00,12.72,750.00,331924,0.04,4928,38307,173628,7361
279520,Richmond,VA,20220115,4.00,169.00,6.54,754.00,331924,0.04,4928,38307,173628,7361
279521,Richmond,VA,20220122,0.00,238.00,9.20,754.00,331924,0.04,4928,38307,173628,7361
279522,Richmond,VA,20220129,9.00,156.00,6.03,763.00,331924,0.04,4928,38307,173628,7361
279523,Richmond,VA,20220205,21.00,257.00,9.94,784.00,331924,0.04,4928,38307,173628,7361
279524,Richmond,VA,20220212,40.00,436.00,16.86,824.00,331924,0.04,4928,38307,173628,7361

In [98]:
df.Date.unique()

array([20220108, 20220115, 20220122, 20220129, 20220205, 20220212])

In [109]:
df2 = df[df.Date.isin([20220101, 20220108, 20220115, 20220122, 20220129])]

In [110]:
df1 = df[df.Date.isin([20220205, 20220212])]

In [112]:
pd.concat([df2,df1])

,County,State,Date,True county inc. deaths,Pred state inc. deaths,Naive county inc. deaths,True county cum. deaths,County pop.,Pop. ratio,EDU_DOCT,OCC_SALES,POP_F,HU_VAC
193041,Wake,NC,20220108,0.00,184.00,19.75,920.00,1112883,0.11,19892,117559,568699,32528
193042,Wake,NC,20220115,19.00,261.00,28.02,939.00,1112883,0.11,19892,117559,568699,32528
193043,Wake,NC,20220122,7.00,372.00,39.93,946.00,1112883,0.11,19892,117559,568699,32528
193044,Wake,NC,20220129,21.00,345.00,37.04,967.00,1112883,0.11,19892,117559,568699,32528
279519,Richmond,VA,20220108,1.00,329.00,12.72,750.00,331924,0.04,4928,38307,173628,7361
279520,Richmond,VA,20220115,4.00,169.00,6.54,754.00,331924,0.04,4928,38307,173628,7361
279521,Richmond,VA,20220122,0.00,238.00,9.20,754.00,331924,0.04,4928,38307,173628,7361
279522,Richmond,VA,20220129,9.00,156.00,6.03,763.00,331924,0.04,4928,38307,173628,7361
193045,Wake,NC,20220205,2.00,430.00,46.16,969.00,1112883,0.11,19892,117559,568699,32528
193046,Wake,NC,20220212,12.00,453.00,48.63,981.00,1112883,0.11,19892,117559,568699,32528
279523,Richmond,VA,20220205,21.00,257.00,9.94,784.00,331924,0.04,4928,38307,173628,7361
279524,Richmond,VA,20220212,40.00,436.00,16.86,824.00,331924,0.04,4928,38307,173628,7361

In [ ]:
dfff = dff.sample(10)
dfff

In [ ]:
# df.columns[15:30]

In [ ]:

# EDU_DOCT doctoral degree population
# OCC_SALES sales occupations
# POP_F female pop
# HU_OCC occupied housing units

# display([x for x in df.columns])