In [20]:
%%capture
%load_ext autoreload
%autoreload 2
from setup_nb_env import *

from epsampling.utils import load_csv
# pd.set_option('display.float_format', lambda x: '%.3f' % x)

DATA_DIR = '/work/users/k/4/k4thryn/Repos/EpSampling/data/'
DT = datetime.today().strftime('%Y%m%d-%H%M%S')

In [21]:
def fips_to_str(df):
    if 'State_fips' in df.columns:
        df['State_fips'] = df.State_fips.astype('str')
        df['State_fips'] = df.State_fips.apply(lambda x: x.zfill(2))
    if 'Fips' in df.columns:
        df['Fips'] = df.Fips.astype('str')
        df['Fips'] = df.Fips.apply(lambda x: x.zfill(5))
    return df

In [25]:
timestamp = '20240928-145111'

# fpath = os.path.join(DATA_DIR,'processed',f'formatted_state_fips_{timestamp}.csv')
# df_fips = pd.read_csv(fpath)

fpath = os.path.join(DATA_DIR,'processed',f'formatted_COVIDhub-ensemble_{timestamp}.csv')
df_hub = pd.read_csv(fpath)
df_hub = fips_to_str(df_hub)
# df_hub['State_fips'] = df_hub.State_fips.astype('str')
# df_hub['State_fips'] = df_hub.State_fips.apply(lambda x: x.zfill(2))


fpath = os.path.join(DATA_DIR,'processed',f'formatted_nytimes-us-counties_{timestamp}.csv')
df_nyt = pd.read_csv(fpath)
df_nyt = fips_to_str(df_nyt)

# df_nyt['Fips'] = df_nyt.Fips.astype('str')
# df_nyt['Fips'] = df_nyt.Fips.apply(lambda x: x.zfill(5))

fpath = os.path.join(DATA_DIR,'processed',f'formatted_acs_pop_ratio_{timestamp}.csv')
df_acs = pd.read_csv(fpath)
df_acs = fips_to_str(df_acs)

# df_hub['State_fips'] = df_hub.State_fips.astype('str')
# df_hub['State_fips'] = df_hub.State_fips.apply(lambda x: x.zfill(2))
# df_nyt['Fips'] = df_nyt.Fips.astype('str')
# df_nyt['Fips'] = df_nyt.Fips.apply(lambda x: x.zfill(5))

# display(df_fips.head())
display(df_hub, df_nyt, df_acs)

     State_fips        Date  Projd_inc_deaths
0            66  2020-06-13          0.084503
1            69  2020-06-13          0.410538
2            72  2020-06-13          4.539067
3            78  2020-06-13          0.123634
4            11  2020-06-13         22.548359
...         ...         ...               ...
8054         72  2023-03-11         19.000000
8055         60  2023-03-11          0.000000
8056         66  2023-03-11          0.000000
8057         69  2023-03-11          0.000000
8058         78  2023-03-11          0.000000

[8059 rows x 3 columns]

         Fips        Date  True_cum_deaths
0       01001  2020-06-13              6.0
1       01003  2020-06-13              9.0
2       01005  2020-06-13              1.0
3       01007  2020-06-13              1.0
4       01009  2020-06-13              1.0
...       ...         ...              ...
313231  56037  2022-05-07            126.0
313232  56039  2022-05-07             16.0
313233  56041  2022-05-07             39.0
313234  56043  2022-05-07             44.0
313235  56045  2022-05-07             18.0

[313236 rows x 3 columns]

,Fips,Pop,State_fips,State_pop,Ratio,OCC_MBSA_ELCAM_L,IND_AFFHM_MQE,IND_PSMAW_M,HU_OCC_OPRgt200,HU_UIS50P,...,HU_x14,POP_F,POP_AIANNH,POP_AIAN,EDU_HS,POP_A3564,POP_M,POP_16p_EMP_x7,POP_A25p,POP_NH
0,02013,3409,02,735951,0.004632,0,0,0,0,0,...,1113,1395,1501,1505,1648,1760,2014,2213,2598,3050
1,02016,5251,02,735951,0.007135,0,6,9,11,12,...,1456,2256,523,549,2626,2471,2995,3655,3838,4740
2,02020,292545,02,735951,0.397506,1842,2985,428,499,2642,...,118055,142897,19827,21150,94213,107273,149648,144598,193312,264762
3,02050,18514,02,735951,0.025157,32,90,250,239,9,...,5992,8790,15427,15640,6485,5770,9724,6454,10025,18131
4,02060,849,02,735951,0.001154,0,0,0,0,0,...,922,369,266,282,411,384,480,443,643,740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,42459,56,576641,0.073632,165,3135,0,30,73,...,19174,20609,454,506,16349,16838,21850,20884,27816,35626
3138,56039,23319,56,576641,0.040439,209,67,0,74,97,...,13255,11039,30,30,6148,9875,12280,14952,17659,19835
3139,56041,20514,56,576641,0.035575,0,748,0,8,62,...,8819,10077,20,52,8432,7709,10437,9688,13233,18533
3140,56043,7768,56,576641,0.013471,63,106,0,0,5,...,3842,3764,38,71,2992,2958,4004,3907,5423,6651
3141,56045,6891,56,576641,0.011950,12,572,0,0,9,...,3431,3207,88,90,2980,2724,3684,3044,4892,6763

In [26]:
df_acs[['Fips','Pop','State_fips','State_pop','Ratio']]

       Fips     Pop State_fips  State_pop     Ratio
0     02013    3409         02     735951  0.004632
1     02016    5251         02     735951  0.007135
2     02020  292545         02     735951  0.397506
3     02050   18514         02     735951  0.025157
4     02060     849         02     735951  0.001154
...     ...     ...        ...        ...       ...
3137  56037   42459         56     576641  0.073632
3138  56039   23319         56     576641  0.040439
3139  56041   20514         56     576641  0.035575
3140  56043    7768         56     576641  0.013471
3141  56045    6891         56     576641  0.011950

[3142 rows x 5 columns]

In [23]:
## join nyt county deaths with acs fips, state_fips, state_pop, and ratio.
df = df_nyt.copy()

df = df.join(df, )

In [ ]:
df = df.join(df)

In [5]:
df_hub.Fips.unique()

array(['66', '69', '72', '78', '11', '01', '02', '04', '05', '06', '08',
       '09', '10', '12', '15', '16', '19', '20', '22', '23', '24', '25',
       '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38',
       '40', '41', '42', '44', '45', '46', '47', '48', '49', '50', '51',
       '53', '54', '56', 'US', '17', '18', '21', '26', '27', '39', '55',
       '13', '60'], dtype=object)

In [7]:
df_hub.dtypes

Fips                 object
Date                 object
Projd_inc_deaths    float64
dtype: object

In [10]:
'11'.zfill(2)

'11'