In [42]:
import pandas as pd
import numpy as np
import csv

from datetime import datetime

d = datetime.today().strftime('%Y%m%d-%H%M%S')
d

'20240911-114640'

In [ ]:
# data_dir = '/work/users/k/4/k4thryn/Repos/EpSampling/data/COVIDhub-ensemble/'

# import glob
# files = glob.glob(f'{data_dir}/*.csv')

# df = pd.DataFrame()
# dfs = []
# for f in files:
#     csv = pd.read_csv(f)
# #     df = df.append(csv)
#     dfs.append(csv)

In [14]:
import glob

data_dir = '/work/users/k/4/k4thryn/Repos/EpSampling/data/COVIDhub-ensemble/'
files = glob.glob(f'{data_dir}/*.csv')

which_targets = ['1 wk ahead cum death', '2 wk ahead cum death',
                 '3 wk ahead cum death', '4 wk ahead cum death']
which_targets = which_targets[:1]
types = ['point']

all_dfs = []
for f in files:
    
    df = pd.read_csv(f)
    
    # Choose which time-ahead targets
    df = df[df.target.isin(which_targets)]
    # Choose which types (only point for now)
    df = df[df.type.isin(types)]

    all_dfs.append(df)
    
tot_df = pd.concat(all_dfs)
display(tot_df)

,location,target,type,quantile,forecast_date,target_end_date,value
18,US,1 wk ahead cum death,point,NaN,2020-04-13,2020-04-18,3.164720e+04
942,01,1 wk ahead cum death,point,NaN,2020-04-13,2020-04-18,1.522383e+02
948,10,1 wk ahead cum death,point,NaN,2020-04-13,2020-04-18,5.186810e+01
954,11,1 wk ahead cum death,point,NaN,2020-04-13,2020-04-18,7.523950e+01
960,12,1 wk ahead cum death,point,NaN,2020-04-13,2020-04-18,7.963889e+02
...,...,...,...,...,...,...,...
5204,60,1 wk ahead cum death,point,NaN,2023-03-06,2023-03-11,3.400000e+01
5205,66,1 wk ahead cum death,point,NaN,2023-03-06,2023-03-11,4.200000e+02
5206,69,1 wk ahead cum death,point,NaN,2023-03-06,2023-03-11,4.100000e+01
5207,78,1 wk ahead cum death,point,NaN,2023-03-06,2023-03-11,1.300000e+02
5468,US,1 wk ahead cum death,point,NaN,2023-03-06,2023-03-11,1.124545e+06

## <font color=blue> Format dataframe.

In [22]:
print(tot_df.dtypes)

location            object
target              object
type                object
quantile           float64
forecast_date       object
target_end_date     object
value              float64
dtype: object

In [33]:
df = tot_df.drop(['quantile','type'],axis=1)
print(len(df))
df = df[~df.location.isin(['US'])]
print(len(df))


df.value = df.value.round(3)

8585
8434

In [34]:
df

     location                target forecast_date target_end_date     value
942        01  1 wk ahead cum death    2020-04-13      2020-04-18   152.238
948        10  1 wk ahead cum death    2020-04-13      2020-04-18    51.868
954        11  1 wk ahead cum death    2020-04-13      2020-04-18    75.239
960        12  1 wk ahead cum death    2020-04-13      2020-04-18   796.389
966        13  1 wk ahead cum death    2020-04-13      2020-04-18   717.420
...       ...                   ...           ...             ...       ...
5203       72  1 wk ahead cum death    2023-03-06      2023-03-11  5829.000
5204       60  1 wk ahead cum death    2023-03-06      2023-03-11    34.000
5205       66  1 wk ahead cum death    2023-03-06      2023-03-11   420.000
5206       69  1 wk ahead cum death    2023-03-06      2023-03-11    41.000
5207       78  1 wk ahead cum death    2023-03-06      2023-03-11   130.000

[8434 rows x 5 columns]

In [44]:
data_dir = '/work/users/k/4/k4thryn/Repos/EpSampling/data/'
df.to_csv(f'{data_dir}covidhub_ensemble_1wkcum_point_{d}.csv',index=False)

In [47]:
df.forecast_date.unique()

array(['2020-04-13', '2020-04-27', '2020-05-04', '2020-05-11',
       '2020-05-18', '2020-05-25', '2020-06-01', '2020-06-08',
       '2020-06-15', '2020-06-22', '2020-06-29', '2020-07-06',
       '2020-07-13', '2020-07-20', '2020-07-27', '2020-08-03',
       '2020-08-10', '2020-08-17', '2020-08-24', '2020-08-31',
       '2020-09-07', '2020-09-14', '2020-09-21', '2020-09-28',
       '2020-10-05', '2020-10-12', '2020-10-19', '2020-10-26',
       '2020-11-02', '2020-11-09', '2020-11-16', '2020-11-23',
       '2020-11-30', '2020-12-07', '2020-12-14', '2020-12-21',
       '2020-12-28', '2021-01-04', '2021-01-11', '2021-01-18',
       '2021-01-25', '2021-02-01', '2021-02-08', '2021-02-15',
       '2021-02-22', '2021-03-01', '2021-03-08', '2021-03-15',
       '2021-03-22', '2021-03-29', '2021-04-05', '2021-04-12',
       '2021-04-19', '2021-04-26', '2021-05-03', '2021-05-10',
       '2021-05-17', '2021-05-24', '2021-05-31', '2021-06-07',
       '2021-06-14', '2021-06-21', '2021-06-28', '2021-07-05',
       '2021-07-12', '2021-07-19', '2021-07-26', '2021-08-02',
       '2021-08-09', '2021-08-16', '2021-08-23', '2021-08-30',
       '2021-09-06', '2021-09-13', '2021-09-20', '2021-09-27',
       '2021-10-04', '2021-10-11', '2021-10-18', '2021-10-25',
       '2021-11-01', '2021-11-08', '2021-11-15', '2021-11-22',
       '2021-11-29', '2021-12-06', '2021-12-13', '2021-12-20',
       '2021-12-27', '2022-01-03', '2022-01-10', '2022-01-17',
       '2022-01-24', '2022-01-31', '2022-02-07', '2022-02-14',
       '2022-02-21', '2022-02-28', '2022-03-07', '2022-03-14',
       '2022-03-21', '2022-03-28', '2022-04-04', '2022-04-11',
       '2022-04-18', '2022-04-25', '2022-05-02', '2022-05-09',
       '2022-05-16', '2022-05-23', '2022-05-30', '2022-06-06',
       '2022-06-13', '2022-06-20', '2022-06-27', '2022-07-04',
       '2022-07-11', '2022-07-18', '2022-07-25', '2022-08-01',
       '2022-08-08', '2022-08-15', '2022-08-22', '2022-08-29',
       '2022-09-05', '2022-09-12', '2022-09-19', '2022-09-26',
       '2022-10-03', '2022-10-10', '2022-10-17', '2022-10-24',
       '2022-10-31', '2022-11-07', '2022-11-14', '2022-11-21',
       '2022-11-28', '2022-12-05', '2022-12-12', '2022-12-19',
       '2022-12-26', '2023-01-02', '2023-01-09', '2023-01-16',
       '2023-01-23', '2023-01-30', '2023-02-06', '2023-02-13',
       '2023-02-20', '2023-02-27', '2023-03-06'], dtype=object)