In [44]:
%%capture
%load_ext autoreload
%autoreload 2
from setup_nb_env import *

from epsampling.utils import load_csv
# pd.set_option('display.float_format', lambda x: '%.3f' % x)
from epsampling.utils import drop_sers_with_nans
from epsampling.utils import date_str_to_int

DATA_DIR = '/work/users/k/4/k4thryn/Repos/EpSampling/data/'
DT = datetime.today().strftime('%Y%m%d-%H%M%S')

from IPython.display import Audio

def meow():
    display(Audio(filename='../cat_meow2.wav', autoplay=True))

In [45]:
import glob
import os
from tqdm.notebook import tqdm

In [53]:
def get_hub_df(state_fips=None):
    '''
    params:
        state_fips (str) -> which state data to subset if desired. if not then
        all states' data are returned. NC state fips is '37'.
    returns:
        df (pd.DataFrame) -> dataframe of covidhub ensemble projections.
    '''
    my_dir = os.path.join(DATA_DIR,'raw','COVIDhub-ensemble')
    files = glob.glob(f'{my_dir}/*.csv')

    types = ['point']
    targets = ['1 wk ahead inc death']

    all_dfs = []
    for f in tqdm(files,total=len(files)):
        df = pd.read_csv(f)
        df = df[df.type=='point']
        df = df[df.target.isin(targets)]
        df = df[df.location!='US']
        all_dfs.append(df)
    df_all = pd.concat(all_dfs)
    
    df = df_all[['location','target_end_date','value']]    
    df.rename({'location':'State_fips',
               'target_end_date':'Date',
               'value':'Proj_inc_deaths'}, axis=1, inplace=True)

    df['State_fips'] = df.State_fips.astype(int)
    df['Date'] = df.Date.apply(lambda x: date_str_to_int(x))

    if state_fips is not None:
        df = df[df.State_fips==state_fips]
        
    # set to 32-bit
    df[df.select_dtypes(np.float64).columns] = df.select_dtypes(np.float64).astype(np.float32)
    df[df.select_dtypes(np.int64).columns] = df.select_dtypes(np.int64).astype(np.int32)
        
    df.reset_index(drop=True,inplace=True)
    df.sort_values(['State_fips','Date'], inplace=True)
    return df

In [54]:
def get_death_df(state_fips=None):
    
    '''
    params:
        state_fips (str) -> which state data to subset if desired. if not then
        all states' data are returned. NC state fips is '37'.
    returns:
        df (pd.DataFrame) -> dataframe of nyt reports per county.
    '''
    
    fpath = os.path.join(DATA_DIR,'raw','nytimes','us-counties.csv')
    df = pd.read_csv(fpath)

    df = drop_sers_with_nans(df, from_axis='rows', print_out=False)

    ## REFORMAT dataframe ...
    df.columns = df.columns.str.capitalize()
    df.rename({'Deaths':'True_county_cum_deaths'},axis=1,inplace=True)
    df = df[['Fips','Date', 'True_county_cum_deaths']]
    df['Fips'] = df.Fips.astype(int)

    ## Pull out samples from 'nytimes' that have matched dates to 'COVIDhub-ensemble' ...
    df['Date'] = df.Date.apply(lambda x: date_str_to_int(x))
    df_hub,_ = load_csv('formatted_COVIDhub-ensemble')
    my_dates = df_hub.Date.unique().tolist()
    df = df[df.Date.isin(my_dates)]

    ## only nc
    if state_fips is not None:
        df = df[df.Fips.astype(str).str.startswith(str(state_fips))]

    ## get county inc deaths
    dfs = []
    for fips in tqdm(df.Fips.unique()):

        df_county = df[df.Fips==fips]
        df_county.reset_index(inplace=True, drop=True)

        inc_deathss = []
        for i in range(len(df_county)):
            if i==0:
                inc_deaths = np.nan
            else:     
                inc_deaths = df_county.at[i,'True_county_cum_deaths'] - \
                df_county.at[i-1,'True_county_cum_deaths']   
            inc_deathss.append(inc_deaths)

        df_county['True_county_inc_deaths'] = inc_deathss
        dfs.append(df_county)

    df = pd.concat(dfs)
    
    # set to 32-bit
    df[df.select_dtypes(np.float64).columns] = df.select_dtypes(np.float64).astype(np.float32)
    df[df.select_dtypes(np.int64).columns] = df.select_dtypes(np.int64).astype(np.int32)
    
    df.reset_index(inplace=True,drop=True)
    return df

In [55]:
df_hub = get_hub_df(state_fips=37)
display(df_hub)
df_death = get_death_df(state_fips=37)
display(df_death)

  0%|          | 0/210 [00:00<?, ?it/s]

     State_fips      Date  Proj_inc_deaths
0            37  20200613       124.240120
1            37  20200620       122.952377
2            37  20200627       100.308655
3            37  20200704       119.399124
4            37  20200711       100.119064
5            37  20200718       120.176331
6            37  20200725       131.000000
7            37  20200801       152.000000
8            37  20200808       162.000000
9            37  20200815       208.000000
10           37  20200822       149.000000
11           37  20200829       165.000000
12           37  20200905       157.000000
13           37  20200912       176.000000
14           37  20200919       157.000000
15           37  20200926       171.000000
16           37  20201003       171.000000
17           37  20201010       177.000000
18           37  20201017       162.000000
19           37  20201024       162.000000
20           37  20201031       198.000000
21           37  20201107       221.000000
22           37  20201114       223.000000
23           37  20201121       200.000000
24           37  20201128       257.000000
25           37  20201205       242.000000
26           37  20201212       315.000000
27           37  20201219       347.000000
28           37  20201226       408.000000
29           37  20210102       367.000000
30           37  20210109       366.000000
31           37  20210116       537.000000
32           37  20210123       596.000000
33           37  20210130       583.000000
34           37  20210206       622.000000
35           37  20210213       613.000000
36           37  20210220       515.000000
37           37  20210227       421.000000
38           37  20210306       314.000000
39           37  20210313       253.000000
40           37  20210320       194.000000
41           37  20210327       132.000000
42           37  20210403       140.000000
43           37  20210410       132.000000
44           37  20210417       111.000000
45           37  20210424       130.000000
46           37  20210501       132.000000
47           37  20210508       130.000000
48           37  20210515       115.000000
49           37  20210522        85.000000
50           37  20210529        77.000000
51           37  20210605        85.000000
52           37  20210612        69.000000
53           37  20210619        80.000000
54           37  20210626        67.000000
55           37  20210703        61.000000
56           37  20210710        37.000000
57           37  20210717        40.000000
58           37  20210724        45.000000
59           37  20210731        54.000000
60           37  20210807        78.000000
61           37  20210814       120.000000
62           37  20210821       118.000000
63           37  20210828       217.000000
64           37  20210904       324.000000
65           37  20210911       416.000000
66           37  20210918       397.000000
67           37  20210925       521.000000
68           37  20211002       486.000000
69           37  20211009       471.000000
70           37  20211016       451.000000
71           37  20211023       336.000000
72           37  20211030       272.000000
73           37  20211106       228.000000
74           37  20211113       186.000000
75           37  20211120       149.000000
76           37  20211127       147.000000
77           37  20211204       113.000000
78           37  20211211       123.000000
79           37  20211218       146.000000
80           37  20211225       164.000000
81           37  20220101       144.000000
82           37  20220108       184.000000
83           37  20220115       261.000000
84           37  20220122       372.000000
85           37  20220129       345.000000
86           37  20220205       430.000000
87           37  20220212       453.000000
88           37  20220219       561.000000
89           37  20220226       476.000000
90           37  20220305       332.000000
91           37  20220312       233.000000
92           37  20220319       150.000000
93           37  20220326       127.000000
94           37  20220402       115.000000
95           37  20220409        55.000000
96           37  20220416        41.000000
97           37  20220423        60.000000
98           37  20220430        33.000000
99           37  20220507        33.000000
100          37  20220514        85.000000
101          37  20220521        57.000000
102          37  20220528        45.000000
103          37  20220604        35.000000
104          37  20220611        18.000000
105          37  20220618       147.000000
106          37  20220625        86.000000
107          37  20220702        57.000000
108          37  20220709        59.000000
109          37  20220716        48.000000
110          37  20220723       110.000000
111          37  20220730        75.000000
112          37  20220806        57.000000
113          37  20220813       154.000000
114          37  20220820        95.000000
115          37  20220827        57.000000
116          37  20220903        69.000000
117          37  20220910        98.000000
118          37  20220917        79.000000
119          37  20220924        53.000000
120          37  20221001        46.000000
121          37  20221008        48.000000
122          37  20221015       118.000000
123          37  20221022        42.000000
124          37  20221029        38.000000
125          37  20221105        40.000000
126          37  20221112       144.000000
127          37  20221119        78.000000
128          37  20221126        30.000000
129          37  20221203        39.000000
130          37  20221210        28.000000
131          37  20221217        55.000000
132          37  20221224        83.000000
133          37  20221231        51.000000
134          37  20230107        30.000000
135          37  20230114        65.000000
136          37  20230121       121.000000
137          37  20230128       115.000000
138          37  20230204        73.000000
139          37  20230211        76.000000
140          37  20230218        83.000000
141          37  20230225        69.000000
142          37  20230304        55.000000
143          37  20230311        44.000000

  0%|          | 0/100 [00:00<?, ?it/s]

       Fips      Date  True_county_cum_deaths  True_county_inc_deaths
0     37001  20200613                    32.0                     NaN
1     37001  20200620                    35.0                     3.0
2     37001  20200627                    36.0                     1.0
3     37001  20200704                    37.0                     1.0
4     37001  20200711                    37.0                     0.0
...     ...       ...                     ...                     ...
9995  37199  20220409                    51.0                     0.0
9996  37199  20220416                    51.0                     0.0
9997  37199  20220423                    51.0                     0.0
9998  37199  20220430                    51.0                     0.0
9999  37199  20220507                    57.0                     6.0

[10000 rows x 4 columns]

df_death_county
df_hub
df_acs

df_death_county -> df_death_state

In [ ]:
def compute_true_inc_deaths_col(df):

    df = df.sort_values(['Fips','Date'])

    dfs = []
    for fips in tqdm(df.Fips.unique()):

        df_county = df[df.Fips==fips]
        df_county.reset_index(inplace=True, drop=True)

        inc_deathss = []
        for i in range(len(df_county)):
            if i==0:
                inc_deaths = np.nan
            else:          
    #             inc_deaths = df_county.True_cum_deaths.values[i] - df_county.True_cum_deaths.values[i-1]
                inc_deaths = df_county.at[i,'True_cum_deaths'] - df_county.at[i-1,'True_cum_deaths']   
            inc_deathss.append(inc_deaths)

        df_county['True_inc_deaths'] = inc_deathss
        dfs.append(df_county)

    df_tot = pd.concat(dfs)
# df_tot

In [ ]:
## get true state deaths
dff = df_county[['Date','True_county_inc_deaths','True_county_cum_deaths']]
sers = []
for date in dff.Date.unique():
    subdf = dff[dff.Date==date]
    state_cum = sum(subdf.True_county_cum_deaths)
    state_inc = sum(subdf.True_county_inc_deaths)
    sers.append({'Date':date, 'True_state_inc_deaths':state_inc, 'True_state_cum_deaths':state_cum})
df_state = pd.DataFrame(sers)
df_state.set_index('Date',drop=True,inplace=True)

# df = df.join(df_state_cum, on='Date')

display(df_state)